# Flutter ignore 
# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
flutter_*.yaml

# Android
android/.gradle/
android/local.properties
android/key.properties
*.iml

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# VS Code
.vscode/

# IntelliJ
.idea/

# Mac/Linux
.DS_Store
